form {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
#loading {
  display: none;
}
ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

li {
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px;
  overflow: auto;
}
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
li img {
  float: left;
  width: 20%;
  margin: 0 15px 0 0;
}
li:hover {
  background: #eee;
  cursor: pointer;
}
#input-label {
  font-size: x-large;
}
#input {
  border: #555555;
  margin: 2px;
  padding: 15px 30px;
}
#btn-submit {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
}
h2 {
  color: #b92e15;
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}
body {
  background-color: powderblue;
}

/* Loading icon */
#loading {
  border: 16px solid #03d815; /* Light grey */
  border-top: 16px solid #071722; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#error {
  display: none;
}

#search-results-header {
  display: none;
}